<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Drivers_Training_Management_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <connectionStrings>
    <add name="DriversTrainingManagementSystemDBEntities" connectionString="metadata=res://*/Database.DriversTrainingManagementSystemDB.csdl|res://*/Database.DriversTrainingManagementSystemDB.ssdl|res://*/Database.DriversTrainingManagementSystemDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KDU66V0\SQLSERVER2014;initial catalog=DriversTrainingManagementSystemDB;persist security info=True;user id=sa;password=p@55w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Drivers_Training_Management_System.Properties.Settings.DriversTrainingManagementSystemDBConnectionString" connectionString="Data Source=DESKTOP-KDU66V0\SQLSERVER2014;Initial Catalog=DriversTrainingManagementSystemDB;Persist Security Info=True;User ID=sa;Password=p@55w0rd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <Drivers_Training_Management_System.Properties.Settings>
      <setting name="ReportTitle" serializeAs="String">
        <value>የብቃት የአሽከርካሪዎች ማሰልጠኛ ተቋም</value>
      </setting>
      <setting name="ReportPhoneNumber" serializeAs="String">
        <value>ስልክ ቁጥር： 0118 90 24 02</value>
      </setting>
    </Drivers_Training_Management_System.Properties.Settings>
  </applicationSettings>
</configuration>
